@use 'font';
@use 'color';

h1, h2, h3 {
    font-family: font.$header-font;
    color: color.$fg;
    padding-block: 1rem;
    font-weight: 700;
}

h1 {
    letter-spacing: .2rem;
    font-size: 200%;
}

h2 {
    margin-top: 2rem;
    font-size: 162.5%;
    font-weight: 800;
    letter-spacing: .1rem;
	&::before {
        color: color.$h-prefix;
		content: "# ";
	}
}

h3 {
    font-size: 112.5%;
    letter-spacing: .1rem;
    &::before {
        color: color.$h-prefix;
        content: "> ";
    }
}